* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.links {
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
  margin-right: 0.4rem;
}
a {
  text-decoration: none;
}
